[submodule "lib/Cod3x-Vault"]
	path = lib/Cod3x-Vault
	url = https://github.com/Cod3x-Labs/Cod3x-Vault
[submodule "lib/Cod3x-Lend"]
	path = lib/Cod3x-Lend
	url = https://github.com/Cod3x-Labs/Cod3x-Lend
[submodule "lib/createx"]
	path = lib/createx
	url = https://github.com/pcaversaccio/createx
